#body {
    .post {
        >h3,
        .metadata * {
            margin:0;
            padding:0;
        }
        .metadata {
            border:1px solid silver;
            border-width: 2px 0;
            p {
                display: inline-block;
                font-weight: 900;
            }
            p.date {
                float:right;
            }

        }
    }

    nav.sub-nav,
    div#change-log {
        // not the sidebar navigation, but the in-page sub nav
        //display:block;
        //float:right;
        background-color: $showcase-bg;
        padding-left: 10px;
        ul {
            margin-top:0;
            display: none;
            visibility: hidden;
        }
        li {
            font-size: smaller;
            font-weight: 900;
        }
        a   { color: $showcase-text;
        }

        .heading{
            font-size: larger;
            font-weight: 900;
            i {
                width:20px;
            }
        }

        input {
            display:none;
            &:checked +.heading i:before
            {
                content:'\f107';
            }
            
            &:checked ~ul {
                display: block;
                visibility: visible;
            }
        }
        
        input:checked +heading i:before
            {
                content:'wf';
            }
        /*        #change-log {
                


                +input +ul {
                    display: none;
                    visibility: hidden;
                }   
                +input:checked +ul {
                    display: block;
                    visibility: visible;
                }
                
                &:checked i:before {
                content:'\f107';
                } 
            
            }
        input ~ .ding i:before {
            content:"hi";
        }
        
*/    }

}
#sidebar {
    #header h1#navbar_title {
    line-height: 1;
    margin: 0;
    font-size: 2.5rem;
    }
}

#footer {
    .button{
          background: #1694CA;
          color: #fff;
          box-shadow: 2px 2px 3px #000000;
          border-radius: 5px;
          margin: 0 3px 3px 0; 
         
        &:hover {
            border-color: $core-border-color-hover;
            background-color: desaturate($color: #1694CA, $amount: 50);
            box-shadow: 2px 2px 3px desaturate($color: #000000, $amount: 50);
        }

        &:active {
            margin: 3px 0 0 3px; 
            box-shadow:inset 2px 2px 3px desaturate($color: #000000, $amount: 0);
        }
          
    }
}

.searchbox {
    button{
        position: absolute;
        right: 0.1em;
        background:transparent;

        i {
            color:$header-text;
        }
    }
}

article {
    ol {
        li {
            margin-bottom: 1.7em;
            &::marker {  
                font-weight: 900;
                } 
            &::before {  
                background-color: red;
                } 
            }
            p {
                margin:0;
            }
        }

        #header-image {
            text-align: center;
            position: relative;
            margin-top: 20px;
            * {
                margin:0;
                padding:0px;
                font-size: 0.9rem;
                font-weight: 500;
                line-height:1.4;
            }

            .header-image {
                >img{
                    width:100%;
                }
            }
            .header-image-title {
                font-size: 1.2rem;
                font-weight: 900;
            }
           >img {
                border: 1px solid black;
                padding: 5px;
                background-color: lightgray;
                margin:20px auto 0;
                width:100%;
            }

            div.header-image-credit {
                text-align: left;
                position: absolute;
                border: black 1px solid;
               // display: none;
               visibility: hidden;
                width:100%;
                background-color: rgba(255, 255, 255, 0.8);
                //background-color: lightgrey;
                padding:5px;
                bottom:0;
                opacity: 0;
                transition: opacity 500ms,visibility 1000ms;
            }
            .header-image-license {
                img {
                    display: inline;
                }
                         
            }

            &:hover div.header-image-credit {
              //  display: block;
                visibility: visible;
                opacity: 1;
                transition: opacity 500ms,visibility 1000ms;
            }
        }
        code {
            padding:0;
        }
    }
